/* red-hat-text-regular - latin */

@font-face {
    font-family: "Red Hat Text", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/red-hat-text-v11-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/red-hat-text-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-text-v11-latin-regular.woff2") format("woff2"), url("../fonts/red-hat-text-v11-latin-regular.woff") format("woff"), url("../fonts/red-hat-text-v11-latin-regular.ttf") format("truetype"), url("../fonts/red-hat-text-v11-latin-regular.svg#RedHatText") format("svg");
    /* Legacy iOS */
}


/* red-hat-text-700 - latin */

@font-face {
    font-family: "Red Hat Text", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/red-hat-text-v11-latin-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/red-hat-text-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/red-hat-text-v11-latin-700.woff2") format("woff2"), url("../fonts/red-hat-text-v11-latin-700.woff") format("woff"), url("../fonts/red-hat-text-v11-latin-700.ttf") format("truetype"), url("../fonts/red-hat-text-v11-latin-700.svg#RedHatText") format("svg");
    /* Legacy iOS */
}

@font-face {
    font-family: "Aleo", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/aleo-v11-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/aleo-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v11-latin-regular.woff") format("woff"), url("../fonts/aleo-v11-latin-regular.ttf") format("truetype"), url("../fonts/aleo-v11-latin-regular.svg#Aleo") format("svg");
    /* Legacy iOS */
}


/* aleo-italic - latin */

@font-face {
    font-family: "Aleo", Verdana, sans-serif;
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/aleo-v11-latin-italic.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/aleo-v11-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo-v11-latin-italic.woff2") format("woff2"), url("../fonts/aleo-v11-latin-italic.woff") format("woff"), url("../fonts/aleo-v11-latin-italic.ttf") format("truetype"), url("../fonts/aleo-v11-latin-italic.svg#Aleo") format("svg");
    /* Legacy iOS */
}


/* aleo-700 - latin */

@font-face {
    font-family: "Aleo", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/aleo-v11-latin-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/aleo-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo-v11-latin-700.woff2") format("woff2"), url("../fonts/aleo-v11-latin-700.woff") format("woff"), url("../fonts/aleo-v11-latin-700.ttf") format("truetype"), url("../fonts/aleo-v11-latin-700.svg#Aleo") format("svg");
    /* Legacy iOS */
}


/* magra-700 - latin */

@font-face {
    font-family: "Magra", Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/magra-v14-latin-700.eot");
    /* IE9 Compat Modes */
    src: local(""), url("../fonts/magra-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/magra-v14-latin-700.woff2") format("woff2"), url("../fonts/magra-v14-latin-700.woff") format("woff"), url("../fonts/magra-v14-latin-700.ttf") format("truetype"), url("../fonts/magra-v14-latin-700.svg#Magra") format("svg");
    /* Legacy iOS */
}